.category{  }

.category-title{
  text-align: center;
  margin: 0px;
  border-top: 1px solid darkslategray;
  margin-bottom: 5px;
}

.element-container {
  text-align: center;
  display: flex;
  width: 100%;
  display: inline-block;
}

.element{
  width: 45%;
  padding-top: 1px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 1px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.thumbnail{  height: 45px;  }
.element:nth-child(even){  float:right;  }
.element:nth-child(odd){  float: left;  }

ul {
  padding: 0;
  list-style-type: none;
  list-style:none;
}
li {
  padding: 0;
  list-style-type: none;
  list-style: none;
}


.element li{
  position: relative;
}

.paletteElement{
  padding-top: 3px;
}

.paletteElement:hover {
  display: block;
  position: absolute;
  background: lightgoldenrodyellow;
  border-radius: 6px;
  background-image: url(../../assets/images/background-highlight.png);
  background-repeat: repeat-x;
}

.paletteElement > ul {
  display: none;
}

.paletteElement > app--tool-recursive-palette-element {
  display: none;
}

.paletteElement:hover app--tool-recursive-palette-element {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

app--tool-recursive-palette-element{
  background: darkslategray;
  border-radius: 8px;
  border: 1px solid gray;
  opacity: 0.7;
  filter: alpha(opacity=70);}

app--tool-recursive-palette-element:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.category-title {
  background-image: url(../../assets/images/background-categories.png);
  background-repeat: repeat-x;

}

.label {
  margin-top: 10px;
  text-align: center;
}

#square {
  width: 100px;
  height: 100px;
  background: red;
}

#rectangle {
  width: 200px;
  height: 100px;
  /*background: red;*/
}

.circle {
  width: 60px;
  height: 60px;
  background: #0aff00;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: solid 1px black;
}

#oval {
  width: 200px;
  height: 100px;
  background: red;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

#triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}

#triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}

.diamond {
  height: 50px;
  width: 50px;
  background-color: #ff8e00;
  border: solid 1px black;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  transform: rotate(45deg);
}

.diamond .label {
  margin-left: 5px;
  transform: rotate(-45deg);
}

.arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; /* 40px height (20+20) */
  border-left: 20px solid green;
  position:absolute;
  right:-20px;
}

.rectangular {
  border-radius: 10px;
  background: #c9dcf5;
  width: 75px;
  height: 50px;
  border: solid 1px black;
}

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right:  100px solid transparent;
  border-bottom: 70px  solid red;
  border-left:   100px solid transparent;
  -moz-transform:    rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform:     rotate(35deg);
  -o-transform:      rotate(35deg);
}
#star:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform:    rotate(-35deg);
  -ms-transform:     rotate(-35deg);
  -o-transform:      rotate(-35deg);

}
#star:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform:    rotate(-70deg);
  -ms-transform:     rotate(-70deg);
  -o-transform:      rotate(-70deg);
  content: '';
}
